
<body>
<div class="container">
  <div class="card">

    <div class="contentBx">
      <h2>professor</h2>
      <div class="size">
        <h3>login as a professor </h3>
      </div>
      <a [routerLink]="['/','professor-login']">Login</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">

    <div class="contentBx">
      <h2>Student</h2>
      <div class="size">
        <h3>login as a Student </h3>
      </div>
      <a [routerLink]="['/','student-login']">Login</a>
    </div>
  </div>
</div>
</body>
